<!--This is what displays on the main default page of the website-->
<!DOCTYPE html>
<html>
	<head>
		<title>Death Metal Application</title>
	</head>
	<body>
		<h1>Death Metal for Dummies</h1>
		<p>
		</p>
	</body>
</html>